@import '../../estilos/style.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  
}

h1 {
  text-align: center;
}

.produtos, .acessorios, .desktop, .audio, .todosProdutos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,.08);
  overflow: hidden;
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-body h3 {
  margin: 0 0 10px;
}

.preco {
  color: #0d6efd;
  font-weight: bold;
  font-size: 1.1rem;
}
